body {
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.card {
    border-radius: 8px;
}
.navbar-brand {
    font-weight: 600;
}
.container .h3 {
    margin: 0;
}

/* small tweaks */
table.table td, table.table th {
    vertical-align: middle;
}
